<?xml version="1.0"?>

<model>
  <name>Simple Arm White Flag</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>ROS 2 Blue White Flags</name>
  </author>

  <depend>
    <model>
      <uri>model://simple_arm_gripper</uri>
      <version>1.0</version>
    </model>
  </depend>

  <depend>
    <model>
      <uri>model://white_flag</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    A simple arm gripper holding a white flag.
  </description>
</model>
