<?xml version="1.0"?>

<model>
  <name>White Flag</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>ROS 2 Blue White Flags</name>
  </author>

  <description>
    A lightweight white flag for the Gazebo Classic blue-white flags game.
  </description>
</model>
